<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            <h2>Virtual House App<br> LogIn</h2>
            <p>Ingrese sus credenciales para tener acceso a su casa virtual</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>Nombre de usuario</label>
                     <input type="text" required
                class="form-control"
                ngModel
                id="username"
                name="username"
                #username="ngModel">
                  </div>
                  <div class="form-group">
                     <label>Contraseña</label>
                     <input type="password" required
                class="form-control"
                ngModel
                id="password"
                name="password"
                #password="ngModel">
                  </div>
                  <button type="submit" class="btn btn-black" (click) = "onLogIn(username.control?.value,password.control?.value)" >Login </button>
               </form>
            </div>
         </div>
      </div>