
<div style = "text-align:center">
<h1>
Bienvenido a su Casa Virtual
</h1>
<div class="col">
      <canvas #canvas width="800" height="900"></canvas>
</div>
<div class="col">
<button (click)="actionLight(0)">Luz 0</button>
<button (click)="actionLight(1)">Luz 1</button>
<button (click)="actionLight(2)">Luz 2</button>
<button (click)="actionLight(3)">Luz 3</button>
<button (click)="actionLight(4)">Luz 4</button>
<button (click)="actionLight(5)">Luz 5</button>
</div>
<div class="col">
<button (click)="updateAll()">Actualizar</button>
</div>
<div class="col">
<button (click)="takePicture()">Tomar fotografía</button>
</div>

</div>
